// Override any bootstrap variable
@import "bootstrap/variables";

// Apply base brand styles, start here!
@import "base/brand";

// Import bootstrap.scss from node_modules
@import "bootstrap";

//@include media-breakpoint-up(xs) { ... }
//@include media-breakpoint-up(sm) { ... }
//@include media-breakpoint-up(md) { ... }
//@include media-breakpoint-up(lg) { ... }
//@include media-breakpoint-up(xl) { ... }

html {
  font-size: 14px;
  @include media-breakpoint-up(sm) {
    font-size: 18px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 20px;
  }
}

